.app {
  background-color: #333333;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
  height: 40px;
}

#num {
  width: 200px;
  text-align: right;
  margin-bottom: 0px;
  position: relative;
  margin-left: 10px;
}

header {
  text-align: center;
  margin-top: 10px;
}

.btn {
  margin: 5px;
  font-size: 12px;
  margin-bottom: 0px;
}

#main {
  margin-top: 150px;
  text-align: center;
}

#canvas {
  width: 100%;
  height: auto;
}

#num-val {
  margin-right: 150px;
  z-index: 99;
  font-size: 22px;
  margin-left: 10px;
}
